@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* nav bar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4rem;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #be2edd;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
    white-space: nowrap;
}

.hire-me {
    font-weight: bold;
    color: white;
    border: solid #8e44ad;
    padding: .6em 1em;
    border-radius: 1.6em;
    background-color: #8e44ad;
}

.logo {
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    color: #8e44ad;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 2rem;
    white-space: nowrap;
}

nav ul li a:hover {
    color: #e056fd;
    text-shadow: 0 0 30px #be2edd;
}

nav ul li a.active:before {
    position: absolute;
    content: "";
    width: 40%;
    height: 1px;
    border-bottom: 2px solid #be2edd;
    bottom: -6px;
}

nav ul li a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid rgb(rgb(253, 121, 168));
    bottom: -6px;
    transition: width .3s;
}

.hire-me:hover {
    color: white;
    border: solid #9b59b6;
    background-color: #9b59b6;
}

/*hero*/

.hero {
    display: flex;
    gap: 7em;
    margin-top: 10em;
}

.hero-left {
    width: 65%;
}

.hero-right {
    flex-grow: 1;
}

.hero-subtitle {
    font-size: 3rem;
    margin: 0;
    color: #636e72;
    font-weight: 700;
}

.hero-title {
    font-size: 5rem;
    margin: 0;
}

.hero-description {
    font-weight: 500;
    font-size: 1.8em;
    color: #485460;
}

.hero-btns {
    margin: 5em 0;
}

.hero-btns, .hero-right-btn {
    display: flex;
    gap: 3em;
}

.hero-left-btn {
    background-color: #00b894;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 0.6em 2em;
    padding-top: 1.1em;
    height: 2em;
    white-space: nowrap;
}

.hero-right-btn {
    font-size: 1.8rem;
    text-decoration: none;
    color: #16a085;
    display: flex;
    padding: 1.1em 0;
    height: 2em;
    gap: 0;
}

main div span {
    white-space:nowrap;
}

.hero-right-btn svg {
    width: 25px;
    margin-left: 0.5em;
    margin-top: 0.1em;
    fill: #16a085;
}

.hero-right img {
    margin-top: -3em;
    margin-right: 5em;
    width: 35em;
    border-radius: 18em;
    outline-offset: -0.5em;
    background-image: radial-gradient(#bdc3c7, #ecf0f1, white);
}